body {
  background-color: aquamarine;
}

.header {
  text-align: center;
  background-color: beige;
  height: 50px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#content {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
